.aboutContent {
  display: grid;
  grid-template-columns: 1.5fr 1fr 2fr;
  gap: 3.5rem;
  padding: 5.4rem 2rem 0rem 2rem;
  /* margin-left:-11rem; */
}
.about-heading {
  color: #8c94ac;
}
.about-sub-heading {
  color: #346c64;
}
.aboutImg {
  width: 85%;
}
.aboutImg img {
  width: 100%;
}
/* li {
  list-style-type: none;
} */

.row1{
  margin-top: 1rem;
}
.row1 h1 {
  font-family: "Abhaya Libre";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 50px;
  letter-spacing: 0.01em;
}

.aboutSection p {
  font-family: Inter;
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.01em;
  text-align: justify;
  color: #346c64;
}
.row3 {
  margin-top: 35%;
}

.row2 {
  margin-top: 7%;
}
.about-title h3 {
  margin-top: 2rem;
  font-family: Inter;
  font-size: 23px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #8c94ac;
}
.roles-section {
  margin-bottom: 1.6rem;
}
.role-name {
  font-family: Inter;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #346c64;
  list-style-type: none;
}

.role {
  font-family: Inter;
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #346c64;
  list-style-type: none;
}
.input-con-flex {
  display: flex;
  margin-top: 3.6rem;
  gap: 1rem;
  border-bottom: 1px solid #346c64;
  width: 270px;
  justify-content: space-between;
  padding-bottom: .7rem;
}
.input-con-flex input {
  font-size: 16px;
  border: 0;
  outline: none;
  padding: 0 1rem 0rem 0.7rem;
}
.aboutPage .fixedFlex{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 2rem 2rem 1rem 2rem;
}
.aboutPage .fixedLeft , .aboutPage .fixedRight{
  position: static;
}
@media (min-width: 1500px){
  .aboutSection p {
    font-size: 25px;
    font-family: Inter;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0.015em;
    text-align: left;
    color: #346c64;
    /* background-color: #346c64; */
  }
}
/* Media Queries */
@media (max-width: 768px) {
  .aboutContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem 2rem;
  }
  .aboutImg {
    width: 100%;
  }
  .aboutSection p {
    font-size: 15px;
  }
  .row1{
    margin-top: 0rem;
  }
  .row1 h1 {
    font-size: 40px;
  }
  .row3 {
    margin-top: 0;
  }
  .about-title h3 {
    margin-top: 3.5rem;
    font-family: Inter;
    font-size: 20px;
  }
  .input-con-flex {
    width: 100%;
  }
  .fixedFlex{
    margin-top: 1rem;
    
  }
  .fixedLeft {
    position: static;
  }
  .fixedRight {
    position: static;
  }
}
